@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 49%;
    }
}

@media all and (max-width:1110px){
    .nav-wrapper{
         background: #333;
        background-color: blueviolet;
        flex-direction: column;
    }

    nav ul{
        margin-right: 0px;
        float: left;
    }

    label #bar-btn{
        display: block;
        margin-top: 20px;
      }

      ul.links{
        position: absolute;
        width:100%;
        height: 100vh;
        background-color: rgb(255, 145, 0);
        top: 80px;
        right: -100%;
        text-align: left;
        display: block;
        transition: all .5s;
        z-index: 1;
      }

      ul.links li{
        display: block;
        margin: 10px 0;
        line-height: 20px;
        margin-left: 20px;
      }

      nav ul li.li-btn {
        width: fit-content;
        margin-left: 35px;
        margin-bottom: 20px;
      }
      nav ul li.li-btn:hover{
        color: #fff;
        background: #333;
      }
      nav ul li.li-btn:hover a{
        color: #fff;
      }

      nav ul li,
      nav ul ul li{
          display: block;
          width: 100%;

      }

      nav ul ul{
        top: 50px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
        background-color: #fff;
    }

    nav ul ul ul li{
        position: static;
    }
    nav ul ul li:hover a{
        color: #ec9d36;
    }

    .show{
        display: block;
        color: #fff; 
        font-size: 1.9rem;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: #333;

    }

    nav ul li a:hover{
        box-shadow: none;
    }

    .bar-icon{
        display: block;
        color: #ec9d36;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .show + a, ul, .navbar-btnd {
        display: none;
    }

     [id^=btn]:checked + ul,.navbar-btnd {
        display: block;
    }


    #check:checked ~ ul.links{
        right: 0;
      }
    
      #check:checked ~ #bar-btn{
        display: none;
      }
    
      #check:checked ~ #cancel{
        display: block;
      }


      .home-header p {
        font-size: 1.6rem;
        padding: 10px 0px ;
    }
  
}



@media all and (max-width:850px){
    
    .li-content {
        display: block;
    }
    .ab-st {
        background: none;
        flex-direction: column-reverse;
      }
    .li-content h4 {
        border: 1px solid #ff7300;
        display: flex;
        margin: 10px 15px;
        padding: 0px 15px 0px 0;
        display: flex;
        align-items: center;
        background-color: #f39242;
    }

    .li-content h4 span {
        margin: 10px 21px 10px 0;
        background-color:   #0d0d0d;
    }

    .rp-st {
        width: 70%;
        margin: 10px auto 30px;
      }
      .rp-st img {
        width: 70%;
        min-width: 220px;
        margin: auto;
        display: block;
      }

      .join-us{
        flex-direction: column-reverse;
      }
      .join-info {
        margin: 20px;
        text-align: center;
      }
      .joinus-img {
        width: 360px;
        margin: 0;
      }
      .joinus-img img {
        width: 80%;
        min-width: 210px;
        display: block;
        margin: auto;
      }
}

@media all and (max-width:650px){
    .home-img .img1{
        display: none;
    }
}

@media all and (max-width:530px){
    .offerings .o-item {
        margin: 30px 10px;
    }

    .hte-sec {
        flex-direction: column;
    }
    .l-hte {
        max-width: 80%;
    }
    .r-hte-item {
        margin: 22px 0;
    }
    .li-content h4{
        padding: 10px 15px 10px 0;
        margin: 20px 0px;
    }
}

@media all and (max-width:400px){
    .rew-item .re-head {
        width: 155px;
    }
    .rew-item .re-img img {
        width: 90px;
        height: 100px;
    }
}