* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'EB Garamond', serif;
}

h1 h2 h3 h4 {
    font-family: 'Signika Negative', sans-serif;

}







/* navbar */
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    line-height: 70px;
    position: absolute;
    right: 25px;
    cursor: pointer;
    display: none;
}










/* header */

header {
    display: flex;
    margin-top: 2px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 9px #9d9b9b42;


}

header img {
    width: 84px;
    height: 47px;
    margin-top: 11px;
    margin-bottom: 11px; 
    margin-left: 20px;
}




ul {
    display: flex;
    padding: 6px 19px;


}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin: 0px 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.15rem;

}

ul li a:hover {
    color: orange;
}

ul li:hover {

    transform: scale(1.15);

}




/* section1 */


#sec1 {
    margin-top: 23px;
    display: flex;
    margin-bottom: 100px;
    /* width: 92%; */
    /* margin: auto; */
    justify-content: center;
}


.s1 {
    margin-top: 117px;
    width: 30%;

}

.s1 h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #353533ab;
}

.s1 h2 {
    font-size: 2rem;
    margin-bottom: 4px;
}

.ss {

    border-radius: 5px;
    background-color: rgb(188 182 182 / 22%);
    padding: 0px 8px;
    margin-top: 23px;
    width: 260px;
    position: absolute;


}

.ss h3 {
    font-size: 1rem;
    margin: 10px 0px;
    color: #353533c9;
}

.ss input {
    margin-bottom: 10px;
    padding: 4px 6px;
    font-size: .8rem;

}

.ss button {
    padding: 3px 3.5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border: none;

    cursor: pointer;


}

.ss button:hover {
    color: orange;
    background-color: white;
}

.s2 img {
    width: 67vw;
    height: 492px;

}











#home {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid orange;  */
    margin-bottom: 25px;
}


.logo {
    width: 53%;
    margin: auto;
    margin-top: 36px;
}

.logo img {
    height: 65px;
    width: 109px;
    /* border: 2px solid white; */
    border-radius: 5px;
    margin-bottom: 23px;
    box-shadow: 3px 2px 8px #00000061;
}

.head h1 {
    width: 52%;
    color: white;
    font-size: 1.98rem;
    margin-bottom: 23px;
    margin: auto;
}

.head-1 {
    color: white;
    margin-bottom: 23px;

}

.head-3 h2 {
    padding: 10px 8px;
}

.head-1 h2 {
    width: 55%;
    margin: auto;
    background-color: #29252554;
    margin-top: 12px;
    text-align: center;
    border-radius: 12px;
    padding: 4px 0px;
    font-size: 1.5rem;
}

.head-2 {
    color: white;
    margin-bottom: 23px;
    color: #ffffffc7;
}

.head-2 h3 {
    width: 52%;
    margin: auto;

}

.head-3 {
    display: flex;
    background-color: white;
    width: 289px;
    /* margin-bottom: 23px; */
    border-radius: 22px;
    margin: auto;
    margin-bottom: 34px;
    box-shadow: 2px 2px 15px #00000073;
    border: none;
    background-color: #ffffff00;
}

.head-3:hover {
    transform: scale(1.1);
}


.head-3 h2 {
    padding: 9px 7px;
}

.col {

    border-left: 1px solid rgba(59, 53, 53, 0.61);
}

.col h3 {
    padding: 4px 12px;
}

.col h4 {
    color: rgba(59, 53, 53, 0.61);
    padding: 4px 12px;
}






/* forms */
#forms {
    margin-top: 33px;
    /* width:40%; */

}

#forms .btn {

    box-shadow: 2px 2px 10px #00000075;
    padding: 4px 19px;
    font-size: 1.25rem;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: orange;
    font-weight: 600;

}

#forms button:hover {
    background-color: orange;
    color: white;
    transform: scale(1.12);

}

.registration {
    margin-top: 23px;
    background-color: white;
    margin-right: 12px;
  border-top-left-radius: 7px; 
  border-top-right-radius: 7px;
    padding: 23px 30px;


} 
.reg input{ 
    padding: 3px 6px;
}


.registration h2 {
    font-size: 1.35rem;
    color: orange;
    margin-bottom: 15px;
}


.reg {
    margin: 2px 3px;
    font-size: 1.3rem;
}

.reg:hover {
    transform: scale(1.1);
}



.bt1 {
    margin-top: 15px;
    text-align: center;
    width: 188px;
    height: 28px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none; 
    border-radius: 5px;
}


/* syllabus */
#syllabus {
    display: flex;
    flex-direction: column;
    /* width: 103%; */
    margin: auto;
    margin-bottom: 93px;
    margin-top: 65px;

}

#syllabus h1 {
    text-align: center;
    margin-bottom: 65px;
    font-size: 2rem;
    color: rgb(5, 5, 5);
}

.items {
    display: flex;
    margin: auto;
}


.item {
    margin: -18px 18px;
    box-shadow: 2px 2px 36px #e0d5d5;
    padding: 10px 6px;
    width: 31%;
}

.item:hover {
    transform: scale(1.1);

}

.item p {
    color: rgb(34 34 34 / 64%);
    font-size: 0.8rem;
}

.item h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: orange;
}

.item h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: orange;
}

.item h3 {
    margin-top: 12px;
    font-size: 1.1rem;
    color: orange;

}

.item div p {
    color: black;
    font-size: .9rem;

}


/* ABOUT */

#about {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 109px;
}

.why1 {
    margin-top: 37px;
}

.why1 h3 {
    font-size: 1.75rem;
    margin-bottom: 21px;
    color: rgb(0, 0, 0);
    margin-top: -29px;
}

.why1 p {
    width: 95%;
    font-size: 1.1rem;
    color: rgba(57, 55, 55, 0.771);
}

.why2 {
    display: flex;
    flex-direction: column;
}

.ll {
    margin: 6px 6px;
}

.ll:hover {
    transform: scale(1.2);
}

.why2 div p {
    font-size: .9rem;
    text-align: center;
}

.part1 {
    display: flex;
}

.part2 {
    display: flex;
}

.l {
    font-size: 2.4rem;
    margin: 8px 26px;
    color: orange;
}





/* scholar */
#scholar {
    margin-top: 77px;
    /* margin-bottom: 23px;  */
}


.sc h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.scc {
    display: flex;
    justify-content: center;
}

.scc .log {
    margin: 0px 70px;
    font-size: 5rem;
    margin-top: 49px;
    color: orange;
    margin-bottom: 14px;
}

.scc .log:hover {
    transform: scale(1.2);
}



.scc div {
    text-align: center; 
    font-size: 1.2rem;
}





/* learning */

#learning {

    display: flex;
    padding: 19px 20px;
    background-color: orange;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}


#learning .l-1 h2 {

    font-size: 1.79rem;
    margin-bottom: 12px;
    color: white;
    width: 99%;
}


.l-1 p {

    font-size: 1.2rem;
    width: 99%;
    color: white;
}

.l-2 img {
    margin-left: 5vw;
    height: 154px;
}




/* questioins */

#questions {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 80px;
}

#questions div h2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}


.first {
    text-align: center;
    margin-right: 2vw;
}


.quess {
    margin: 17px 17px;

}

.ques {
    font-size: 1rem;
    font-weight: 600;
    color: #121211d9;
    margin-bottom: 6px;
}

.ans {
    color: #5f5a5a;
    border-radius: 5px;
    padding: 11px 19px;
    box-shadow: 2px 3px 3px rgb(200 188 188 / 58%);
    margin-top: 12px;
    display: none;
}













#chk1 {
    display: none;
}

#chkbtn1 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk1:checked~.ans1 {
    display: block;
}


#chk1 {
    display: none;
}

#chkbtn1 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk1:checked~.ans1 {
    display: block;
}

#chk2 {
    display: none;
}

#chkbtn2 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk2:checked~.ans2 {
    display: block;
}

#chk3 {
    display: none;
}

#chkbtn3 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk3:checked~.ans3 {
    display: block;
}

#chk4 {
    display: none;
}

#chkbtn4 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk4:checked~.ans4 {
    display: block;
}



#chk5 {
    display: none;
}

#chkbtn5 {
    position: relative;
    left: 95%;
    top: 19px;
    color: orange;
    font-size: 12px;
    margin-left: 34px;

}

#chk5:checked~.ans5 {
    display: block;
}


















/* footer */
footer {
    background-color: rgb(0, 0, 0);
    color: white;
}

#foot {
    height: 435px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.foots {
    width: 20%;
    margin: 49px 29px;
}

.reser {
    text-align: center;
    height: 5vh;
    margin-top: 20px;
}

#foot h4 {
    font-size: 1.4rem;
}

#foot p {
    font-size: 0.9rem;

}

.foots p a img {
    height: 45px;
    width: 45px;
    margin-right: 12px;
}

.fa {
    color: white;
    font-size: 24px;
}

.fa:hover {
    transform: scale(1.1);
}

























