@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
}

body { 
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left:  0;
    z-index: 100;
    width: 100%;
}

.logo span{
    background-color: #007bff;
    color: white;
    margin-left: 20px;
    padding: 9px;
    border-radius: 20px;
    font-size: 1.2em;
}



nav{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content:left;
}


.container{
    min-width: 93%;
    min-height: 80%;
}


main{
    position: relative;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    
}

.box1{
    width: 100%;
    min-height: 100vh;
    max-width: 102%;;
    /*  */
    
    
    margin: 10px;
    padding: 0;
    position: relative;
    overflow: hidden;
    /*  */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    border: rgb(9, 157, 157);
}

.que h2{
    font-weight: bolder;
    font-size: 2.5rem;
    padding-right: 10px;
}

.que p{
    padding-right: 20px;
}
.how-to{
    border: 2px solid black;
    background-color: rgba(214, 206, 206, 0.4);
    width: 380px;
    border-radius: 15px;
}

.how-to p {
    display: inline;
    text-align: center;
    font-style: italic;
    font-weight: 750;
}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 13px Arial, sans-serif;
    line-height: 13px;
    display: inline-block;
    margin: 10px;
  }

.box1 h1{
    font-size: 4em;
    margin: 1rem;
    text-transform: uppercase;
 
 }

 .box2{
    margin: 0px 10px;
    padding-left: 28px;
 }


.bg{
    width: 100%;
    opacity: 1;
}


/* ============================================= */
/* expert img */
.expert-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px;
    width: 55%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 40px;
    background: white;
    box-shadow: 10px 5px 5px rgba(82, 82, 86, 0.4);
}


 .expert-img img {
    width: 132px;
    height: 142px;
    border-radius: 50%;
}

.expert-img p{
    text-align: left;
    margin: 1px 10px;
    line-height: 28px;
}

.expert-img h5{
    margin-top: 16px;
    font-weight: bolder;
    
}
h5{
    text-decoration: dashed;
}


/* ============================================= */
/* chat box section */

.chat-box {
    width: 480px;
    height: 546px;
    background-color: rgba(214, 206, 206, 0.4);
    overflow: hidden;
    border-radius: 10px;
    /* position: relative; */
    margin: auto;
    /* right: -51px; */
    box-shadow: 8px 3px 3px rgba(0,0,0, 0.4);

}


/* ============================================= */
/* about client */

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #77b3d4;
    padding: 15px;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    color: #fff;
    padding-top: 25px;
    padding-left: 23px;
}

.client-info p {
    color: #008000;
    font-weight: bold;
    font-size: 0.8em;
}

/* ============================================= */
/* chat section */

.chats {
    width: 100%;
    padding: 0 23px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
    height: 73%;
    overflow: scroll;
}

.client-chat {
    width: 57%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 57%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

/* ============================================= */
/* input section */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}



.chat-input input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active {
    transform: scale(0.85);
}

/* ============================================= */


.msg-bottom{
    position: relative;
    height: 17%;
    background-color: #002f48;
}

.input-group{
    float: right;
    margin-top: 13px;
    margin-right: 11px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
}



.form-control{
    border: none !important;
    border-radius: 20px !important;
    width: 255px;
    margin: 0 0 4px 0;
    /* padding: 10px 38px; */
}

.input-group-text{
    border: none !important;
    background: transparent !important;
}

/*  */
input .form-control{
    width: 255px;
    margin: 0 0 4px 0;

}

span .input-group-text{
    padding-left: 7px;
}


.input-group .fa{
    color: #007bff ;
    float: right;
}

.bottom-icons{
    float: left;
    margin-top: 17px;
    width: 30px !important;
    margin-left: 22px;
    display: flex;
    flex-direction: row;
}

.bottom-icons .fa{
    color: #fff;
    padding: 7px;
    cursor:pointer;

}

.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 0;
    height: 7vh;
    
}
