*{
  margin: 0;
  padding: 0;
font-family: sans-serif;
text-transform: capitalize;
text-decoration: none;
}
:root {
  --gradient: linear-gradient(90deg, #f1c40f, #f39c12);
}
section{
  min-height: 100vh;
  padding: 1rem 7%;
  padding-top: 6rem;
}
body{
  min-height: 100vh;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
 padding: 0px 7%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 1000;
 border-bottom: 0.3rem solid #f39c12;
}
header .logo{
  font-weight: bolder;
  font-size: 28px;
  color: #f39c12;
}
header .navbar ul{
  list-style: none;

}
header .navbar ul li{
  position: relative;
  float: left;

}
header .navbar ul li a{
  font-size: 16px;
  padding: 20px;
  color: #333;
  display: block;

}
header .navbar ul li a:hover{
  background: #f39c12;
  color: #fff;
}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}
header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
}
header .navbar ul li ul li ul{
left: 200px;
top: 0;
}
header .navbar ul li:focus-within>ul,
header .navbar ul li:hover > ul{
  display: initial;
}

#menu-bar{
  display: none;
}

header label{
font-size: 20px;
color: #333;
cursor: pointer;
display: none;
}

img{
  width: 60%;
  height: auto;
}

.part1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 0.3rem solid #f39c12;
}
.part1 .talk{
  width: 40%;
}

.part1 .talk h1{
  font-size: 2rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: black;

}

.part1 .talk p{
  font-size: 1.2rem;
  color: black;
}
.part1 .img{
  width: 45%;

}
.part1 .img img{
  width: 100%;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
}

.btn {
  padding: 0.7rem 3rem;
  font-size: 1rem;
  color: #fff;
  background: #f39c12;
  border-radius: 5rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-style: none;
}
.btn::before{
  content: '';
  position: absolute;
  top: -1rem; left: -100%;
background: #fff9;
height: 150%;
width: 20%;
transform: rotate(25deg);
z-index: -1;
}
.btn:hover::before{
  transition: .3s linear;
  left: 120%;
}

.xyz {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#f39c12 ,#f39c12 50%, #fff 50%, #fff 100%);
}
 .xyz .container{
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.xyz .container .boxx{
width: 320px;
position: relative;
background: #fff;
padding: 100px 40px 60px;
box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.xyz .container .boxx::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1c40f;
  transform: scaleY(0);
  transform-origin: top;
  transition: transfrom 0.5s;
}
.xyz .container .boxx:hover:before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transfrom 0.5s;
}
.xyz .container .boxx h2{
  position: absolute ;
  left: 40px;
  top: 60px;
  font-size: 4em;
  font-weight: 800;
  z-index: 2;
  opacity: 0.1;
  transition: 0.5s;

}
.xyz .container .boxx:hover h2{
  opacity: 1;
  color: #fff;
  transform: translateY(-40px);

}

 .xyz .container.boxx h3{
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #333;
  transition: 0.5s;
}
.xyz .container.boxx p{
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #333;
  transition: 0.5s;
}
.xyz .container .boxx p{
  position: relative;
  z-index: 2;
  color: #555;
  transition: 0.5s;
}
.xyz .container .boxx:hover h3,
.xyz .container .boxx:hover p
{
  color: #fff;

}
.footer{
  background: #333;
}
.footer .box-containerr{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.footer .box-containerr .boxs{
  margin: 1rem;
  text-align: center;
  flex: 1 1 25rem;

}
.footer .box-containerr .boxs h3{
  font-size: .7rem;
  color: #fff;
  padding: 1rem 0;

}
.footer .box-containerr .boxs p{
  font-size: 1rem;
  color: #eee;
  padding: .7rem 0;
  
}
.footer .box-containerr .boxs p i{
  padding-right: .5rem;
  color: #f39c12;

}
.footer .box-containerr .boxs a{
  font-size: 1rem;
  display: block;
  padding: .5rem 0;
  color: #eee;
}

.footer .box-containerr .boxs a:hover{
  text-decoration: underline;
}

.footer .credit{
  padding: 2rem 1rem;
  color: #fff;
  font-size: 2rem;
  background: #111;
  text-align: center;
}

.footer .credit a{
color: #f39c12;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.section h2{
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5rem;
margin: 5px;
}

.section p{
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
margin: 5px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f39c12;
  color: white;
}

.fa {font-size:50px;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #f39c12;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 10px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #f39c12;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: grey;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.containers {
  padding: 20px;
  background-color: #f1f1f1;
}


input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
}




.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.about .image{
  flex: 1 1 40%;

}
.about .image img{
  height:450px;
  width: 450px;

}
.about .content{
  flex: 1 1 45%;

}
.about .content h3{
  font-size: 2rem;
  color: #666;

}
.about .content p{
  font-size: 1rem;
  color: #666;
  padding: 1rem 0;
}


































































































@media(max-width:991px){
  header{
    padding: 20px;

  }
  header label{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #fff;
    border-top:1px solid rgba(0,0,0,.1);
    display: none;
  }
  header .navbar ul li{
    width: 100%;

  }
  header .navbar ul li ul{
 position: relative;
width: 100%; 
 }
 header .navbar ul li ul li{
   background: #eee;

 }
 header .navbar ul li ul li ul{
   width: 100%;
   left: 0;
 }
#menu-bar:checked ~ .navbar{
  display: initial;
}
.part1 {
  flex-direction: column-reverse;
  justify-content: center;
  padding: 2rem, 1rem;
  text-align: center;
}
.part1 .talk {
  width: 80%;
  margin: 2px 0 30px 0;
}
.part1 .talk h1 {
  font-size: 2rem;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
}
.part1 .talk p {
  font-size: 1.2rem;
}
.part1 .img {
  width: 80%;
}
.xyz {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.xyz .container .boxx{
  width: 320px;
  padding: 100px 40px 60px;
align-self: center;
  }
  .xyz .container{
    width: 50%;
  align-items: center;
    }
}



/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}





@media screen and (max-width: 496px){
  .part1 .talk h1 {
    font-size: 2rem;
    letter-spacing: 1.2px;
  }
  .part1 .talk p {
    font-size: 1.2rem;
  }

}